<div class="container value-prop">
  <div class="row">

      <div class="feature col-xs-12 col-sm-4">
        <h1>New Membership</h1>

        <%= render 'form', membership: @membership %>

        <%= link_to 'Back', memberships_path, class: 'btn btn-default btn-small'%>
    </div>
  </div>
</div>
