<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), crop: :fill">
  <div class="banner-content">
    <h1>Bienvenue sur SPPN</h1>
    <p>Le site qui regroupe les professionels de pleine nature</p>
    <a href="memberships#index" class="btn btn-success btn-lg">Liste des Membres</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <p>Le syndicat des professionnels de pleine nature ou SPPN a pour objet la représentation ou la défense des intérêts professionnels, matériels, moraux et économiques des personnes pratiquant des activités de pleine nature en région PACA et plus particulièrement au sein du massif du parc national des calanques.
Ces activités peuvent être par exemple la randonnée pédestre, l’Escalade, la spéléologie, le VTT, Kayak, activités nautiques… sans préjudice de toute autre profession ou activité présente ou future assimilable à celle-ci et compatible avec les statuts, le cas échéant le Règlement Intérieur et la déontologie du SPPN.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <p>Dans le cadre de l’objet ci-dessus mentionné, le SPPN devra notamment:</p>
      <p>Mettre en œuvre tout moyen et créer tout service propre à assurer la liaison entre les différents statuts d’exercice et activités représentées, édicter toute règle déontologique et prendre toute décision de nature à faciliter à ses adhérents l’exercice de leur activité, le tout dans le respect de ses présents statuts, de son Règlement Intérieur et de sa Déontologie.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <p>Défendre les intérêts de ses membres tant auprès des Pouvoirs Publics français et européens qu’auprès des organismes du monde économique et social, des structures paritaires et promouvoir toute mesure de nature à favoriser l’exercice de leur profession et le développement de leur activité. Le SPPN s’interdit tout acte de commerce ainsi que toute discussion d’ordre politique ou religieux.</p>
    </div>
  </div>
</div>
