.card-background {
  box-shadow: 1px 1px 5px #ccc;
}

.card {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-size: cover !important;
  color: black;
  position: relative;
  margin-bottom: 20px;
  height: 275px;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}

.card h2 {
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 10px 0;
}

.avatar-card {
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 25px;
  right: 0;
  width: 100%;
  z-index:2;
  opacity: 0;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 260px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }

.card-link:hover {
  opacity: 0.1;
}

.card-tools {
  text-align: center;
}

.picto-card {
  margin: 0 5px;
}
